.Topo{
    height: 100px
    ;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .Topo ul li {color: white;
    text-decoration: none;
    }
    a {color: blue;}

